# - Virtual Env
env/

# - Environment files
.env
production.env
staging.env

# - Project Files (PyCharm)
.idea/

# - Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
Dockerrun.aws.json