# - Virtual Env
env/

# - Environment files
.env
*.env

# - Project Files (PyCharm)
.idea/

# - Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
